.article_list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	grid-gap: 0 10px;
}
.article_list > div {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
	margin: 0 !important;
}
