**/.idea/
**/.vscode/
**/vendor/
**/Addons/**/*.less
**/Addons/**/russian.php
**/Addons/**/polish.php
**/Addons/**/spanish*.php
**/Addons/**/turkish.php
**/Addons/**/french.php
**/Addons/**/ukrainian.php
Themes/**/.russian.php
Themes/**/.polish.php
Themes/**/.spanish*.php
Themes/**/.turkish.php
Themes/**/.french.php
Themes/**/.ukrainian.php