**/.idea/
**/.vscode/
**/vendor/
**/composer.lock
**/package-lock.json
node_modules/
mix-manifest.json
src/Sources/LightPortal/Libs/*

src/Themes/default/languages/LightPortal/*
!src/Themes/default/languages/LightPortal/index.php
!src/Themes/default/languages/LightPortal/LightPortal.english.php

src/Themes/default/css/light_portal/plugins.css
src/Themes/default/css/light_portal/portal.css
src/Themes/default/css/light_portal/tom-select.min.css
src/Themes/default/css/light_portal/tom-select.min.css.map
src/Themes/default/css/light_portal/virtual-select.min.css

src/Themes/default/scripts/light_portal/*
!src/Themes/default/scripts/light_portal/index.php
!src/Themes/default/scripts/light_portal/admin.js
!src/Themes/default/scripts/light_portal/app.js
!src/Themes/default/scripts/light_portal/user.js

**/Addons/**/*.less
**/Addons/**/langs/*

**/Addons/DiceBear/*
**/Addons/ImageUpload/*
**/Addons/IndexNow/*
**/Addons/Jodit/*
**/Addons/MediaBlock/*
**/Addons/PageScroll/*
**/Addons/SiteList/*
**/Addons/YandexTurbo/*

!**/Addons/**/index.php
!**/Addons/**/langs
!**/Addons/**/langs/english.php

*.zip