**/.idea/
**/.vscode/
**/vendor/
**/Addons/**/*.less
**/Addons/**/russian.php
**/Addons/**/polish.php
**/Addons/**/spanish*.php
**/Addons/**/turkish.php
**/Addons/**/french.php
**/Addons/**/ukrainian.php