<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
	bootstrap="tests/Pest.php"
	colors="true"
>
	<testsuites>
		<testsuite name="Test Suite">
			<directory>tests</directory>
		</testsuite>
	</testsuites>
	<php>
		<const name="SMF" value="true"/>
		<const name="SMF_VERSION" value="2.1"/>
	</php>
	<source>
		<include>
			<directory>src/Sources/LightPortal</directory>
			<file>src/Sources/LightPortal/Plugins/AssetHandler.php</file>
			<file>src/Sources/LightPortal/Plugins/Block.php</file>
			<file>src/Sources/LightPortal/Plugins/ConfigHandler.php</file>
			<file>src/Sources/LightPortal/Plugins/Event.php</file>
			<file>src/Sources/LightPortal/Plugins/GameBlock.php</file>
			<file>src/Sources/LightPortal/Plugins/HookAttribute.php</file>
			<file>src/Sources/LightPortal/Plugins/LangHandler.php</file>
			<file>src/Sources/LightPortal/Plugins/Plugin.php</file>
			<file>src/Sources/LightPortal/Plugins/PluginAttribute.php</file>
			<file>src/Sources/LightPortal/Plugins/PluginHandler.php</file>
			<file>src/Sources/LightPortal/Plugins/SsiBlock.php</file>
		</include>
		<exclude>
			<directory>src/Sources/LightPortal/.idea</directory>
			<directory>src/Sources/LightPortal/Libs</directory>
			<directory>src/Sources/LightPortal/Plugins</directory>
			<file>src/Sources/LightPortal/Actions/index.php</file>
			<file>src/Sources/LightPortal/Areas/index.php</file>
			<file>src/Sources/LightPortal/Areas/Configs/index.php</file>
			<file>src/Sources/LightPortal/Areas/Exports/index.php</file>
			<file>src/Sources/LightPortal/Areas/Imports/Custom/index.php</file>
			<file>src/Sources/LightPortal/Areas/Imports/index.php</file>
			<file>src/Sources/LightPortal/Areas/Imports/Traits/index.php</file>
			<file>src/Sources/LightPortal/Areas/Traits/index.php</file>
			<file>src/Sources/LightPortal/Articles/index.php</file>
			<file>src/Sources/LightPortal/DataHandlers/index.php</file>
			<file>src/Sources/LightPortal/DataHandlers/Exports/index.php</file>
			<file>src/Sources/LightPortal/DataHandlers/Imports/index.php</file>
			<file>src/Sources/LightPortal/DataHandlers/Imports/Custom/index.php</file>
			<file>src/Sources/LightPortal/DataHandlers/Traits/index.php</file>
			<file>src/Sources/LightPortal/Enums/index.php</file>
			<file>src/Sources/LightPortal/Enums/Traits/index.php</file>
			<file>src/Sources/LightPortal/Events/index.php</file>
			<file>src/Sources/LightPortal/Hooks/index.php</file>
			<file>src/Sources/LightPortal/Lists/index.php</file>
			<file>src/Sources/LightPortal/Migrations/Columns/index.php</file>
			<file>src/Sources/LightPortal/Migrations/Creators/index.php</file>
			<file>src/Sources/LightPortal/Migrations/Operations/index.php</file>
			<file>src/Sources/LightPortal/Migrations/Upgraders/index.php</file>
			<file>src/Sources/LightPortal/Migrations/index.php</file>
			<file>src/Sources/LightPortal/Models/index.php</file>
			<file>src/Sources/LightPortal/Renderers/index.php</file>
			<file>src/Sources/LightPortal/Repositories/index.php</file>
			<file>src/Sources/LightPortal/Routes/index.php</file>
			<file>src/Sources/LightPortal/Tasks/index.php</file>
			<file>src/Sources/LightPortal/UI/Breadcrumbs/index.php</file>
			<file>src/Sources/LightPortal/UI/Fields/index.php</file>
			<file>src/Sources/LightPortal/UI/Partials/index.php</file>
			<file>src/Sources/LightPortal/UI/Tables/index.php</file>
			<file>src/Sources/LightPortal/UI/index.php</file>
			<file>src/Sources/LightPortal/Utils/index.php</file>
			<file>src/Sources/LightPortal/Utils/Traits/index.php</file>
			<file>src/Sources/LightPortal/Validators/index.php</file>
			<file>src/Sources/LightPortal/app.php</file>
			<file>src/Sources/LightPortal/create_index.php</file>
			<file>src/Sources/LightPortal/index.php</file>
			<file>src/Sources/LightPortal/update_plugins.php</file>
		</exclude>
	</source>
</phpunit>
