$color-light-gray: #ddd;
$color-white: #fff;
$color-black: #000;
$color-checked: #00cc33;
$article-category-color: #868686;
$article-author-color: #ad7d52;
$comment-smalltext-color: #bfbfbf;
$tabs-input-color: #555;
$tabs-input-border-color: #f49a3a;
$tabs-label-color: #aaa;
$tabs-label-hover-color: #888;

$tag-bg-color: #f2f2f2;
$tag-border-color: #d0d0d0;
$tag-color: #303030;
$ignore-action: greenyellow;