@use 'functions';
@use 'variables';

.checkbox {
  @include functions.valign(top);
  margin-block-start: 0;
  margin-inline-end: 3px;
  margin-block-end: 0;
  margin-inline-start: 0;
  inline-size: 17px;
  block-size: 17px;

  position: absolute;
  opacity: 0;

  & + .label {
    @include functions.pointer;

    position: relative;
    padding-block-start: 0;
    padding-inline-end: 0;
    padding-block-end: 0;
    padding-inline-start: 60px;

    &::before {
      content: '';
      position: absolute;
      inset-block-start: -4px;
      inset-inline-start: 0;
      inline-size: 50px;
      block-size: 26px;
      @include functions.bRadius(13px);
      background: #cdd1da;
      box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
    }

    &::after {
      content: '';
      position: absolute;
      inset-block-start: -2px;
      inset-inline-start: 2px;
      inline-size: 22px;
      block-size: 22px;
      @include functions.bRadius(10px);
      background: variables.$color-white;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
      transition: all 0.2s;
    }
  }

  &:checked + .label {
    &::before {
      background: variables.$color-checked;
    }

    &::after {
      inset-inline-start: 26px;
    }
  }
}
