dl.settings {
  div {
    dt,
    dd {
      inline-size: 50%;

      @media (max-width: 600px) {
        inline-size: 100%;
      }
    }
  }
}

.lp_table_settings {
  inline-size: 100%;

  td {
    inline-size: 50%;
  }

  @media (max-width: 600px) {
    td {
      display: block;
      padding-block: 5px;
      padding-inline: 0;
      inline-size: 100%;
    }
  }
}
