.actions {
	.context_menu {
		position: relative;

		.roundframe {
			position: absolute;
			top: 0;
			right: 0;
			z-index: 30;

			ul {
				overflow: auto;
				position: relative;
				list-style: none;
				z-index: 10;

				a {
					width: 100%;
					margin-bottom: 2px;
				}
			}
		}
	}
}