@use "functions";

#lp_blocks {
	.item {
		@include functions.pointer;
		height: 96%;
		transition: all .2s;
		text-align: center;
		overflow: hidden;

		&:hover {
			box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
		}

		div {
			font-size: 16px;
			margin: 10px;
		}

		p {
			text-align: left;
			font-size: 14px;
		}
	}

	margin-bottom: 1em;
}

.preview_frame {
	margin: 10px;
	padding: 10px;
	border: thick double #32a1ce;
	@include functions.bRadius;
	overflow: auto;
}
