#lp_pages {
	th,
	td {
		@media (max-width: 480px) {
			&.date {
				display: none;
			}
		}

		@media (max-width: 800px) {
			&.num_views {
				display: none;
			}
		}

		@media (max-width: 887px) {
			&.slug {
				display: none;
			}
		}
	}
}