@use "sass:color";

.new_posts {
	$block_color: #667d99;
	$editor_color: #48bf83;
	$comment_color: #9354ca;
	$article_color: #ef564f;

	&.lp_type_block {
		background: $block_color;
	}

	&.lp_type_editor {
		background: $editor_color;
	}

	&.lp_type_comment {
		background: $comment_color;
	}

	&.lp_type_parser {
		background: #91ae26;
	}

	&.lp_type_article {
		background: $article_color;
	}

	&.lp_type_frontpage {
		background: #d68b4f;
	}

	&.lp_type_impex {
		background:#2361ad;
	}

	&.lp_type_block_options {
		background: color.adjust($comment_color, $lightness: 10%);
	}

	&.lp_type_page_options {
		background: #a39d47;
	}

	&.lp_type_icons {
		background: color.adjust($editor_color, $lightness: -20%);
	}

	&.lp_type_seo {
		background: color.adjust($article_color, $lightness: -20%);
	}

	&.lp_type_other {
		background: #414141;
	}

	&.lp_type_ssi {
		background: color.adjust($comment_color, $lightness: -20%);
	}

	&.lp_type_games {
		background: #ff0000;
	}
}