@use 'functions';

.article_simple2_view {
  .card {
    box-shadow:
      0 20px 25px -5px rgba(0, 0, 0, 0.1),
      0 10px 10px -5px rgba(0, 0, 0, 0.04);
    flex-direction: column;
    block-size: 18rem;
    @include functions.bRadius(0.5rem);
    align-items: center;
    display: flex;
    position: relative;
    margin: 0.4em;

    @media (min-width: 768px) {
      flex-direction: row;
      box-shadow:
        0 20px 25px -5px rgba(0, 0, 0, 0.1),
        0 10px 10px -5px rgba(0, 0, 0, 0.04);
      block-size: 18rem;
    }

    .card-header {
      overflow: hidden;
      z-index: 0;
      position: relative;
      order: 1;
      block-size: 20rem;
      inline-size: 100%;
      @include functions.bRadius(0.5rem, 0.5rem);

      @media (min-width: 768px) {
        @include functions.bRadius(0, 0.5rem, 0.5rem, 0);
        inline-size: 40%;
        block-size: 100%;
        order: 2;
      }

      .card-image {
        object-position: center;
        object-fit: fill;
        background-position: bottom;
        background-size: cover;
        background-blend-mode: multiply;
        background-color: rgba(96, 165, 250, 0.3);
        inline-size: 100%;
        block-size: 100%;
        inset-block-start: 0;
        inset-inline-end: 0;
        inset-block-end: 0;
        inset-inline-start: 0;
        position: absolute;
      }

      .card-title {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
        justify-content: flex-start;
        background-image: linear-gradient(to bottom, transparent, transparent, #111827);
        inset-block-start: 0;
        inset-inline-end: 0;
        inset-block-end: 0;
        inset-inline-start: 0;
        block-size: 100%;
        position: absolute;
        padding: 1.5rem;

        @media (min-width: 768px) {
          display: none;
        }

        h3 {
          line-height: 1.25;
          inline-size: 100%;
          color: rgba(255, 255, 255, 1);
          font-weight: 700;
          font-size: 1.5rem;
          margin-block-end: 0.5rem;
        }

        time {
          color: rgba(243, 244, 246, 1);
        }
      }

      svg {
        color: rgba(255, 255, 255, 1);
        fill: currentColor;
        inline-size: 6rem;
        block-size: 100%;
        display: none;
        margin-inline-start: -3rem;
        inset-block-start: 0;
        inset-block-end: 0;
        position: absolute;

        @media (min-width: 768px) {
          display: block;
        }
      }
    }

    .card-body {
      order: 2;
      inline-size: 100%;
      align-items: center;
      block-size: 100%;
      display: flex;
      margin-block-start: -1.5rem;

      @media (min-width: 768px) {
        inline-size: 60%;
        margin-block-start: 0;
        order: 1;
      }

      .card-body-inner {
        inline-size: 100%;
        box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.04);
        padding: 2rem;
        background-color: rgba(255, 255, 255, 1);
        @include functions.bRadius(0.5rem);
        block-size: 100%;
        margin-inline-start: 0.5rem;
        margin-inline-end: 0.5rem;

        @media (min-width: 768px) {
          box-shadow: none;
          padding-inline-start: 3.5rem;
          padding-block-end: 3rem;
          margin-inline-start: 0;
          margin-inline-end: 0;
        }

        h3,
        time {
          display: none;

          @media (min-width: 768px) {
            display: block;
          }
        }

        h3 {
          font-weight: 700;
          font-size: 1.2rem;
          line-height: 1.4;
        }

        time {
          line-height: 1.5;
          color: rgba(156, 163, 175, 1);
        }

        .article_teaser {
          overflow: hidden;
          display: -webkit-box;
          line-clamp: 3;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          text-align: justify;
        }

        .read_more {
          display: flex;
          margin-block-start: 0.75rem;
          text-decoration: none;

          span {
            &:first-child {
              &:hover {
                text-decoration: underline;
              }
            }
          }

          .arrow {
            font-size: 0.75rem;
            margin-inline-start: 0.25rem;
          }
        }
      }
    }
  }
}
