@use 'functions';
@use 'variables';

.block_bbc,
.block_html,
.block_markdown {
  .videocontainer {
    margin-block: 0;
    margin-inline: auto;
  }
}

.preview .button {
  float: none !important;
}

#info_center {
  margin-block-end: 5px;
}

#admin_form_wrapper {
  p {
    &.errorbox {
      margin: 0;
    }
  }
}

.descbox {
  details {
    code {
      white-space: break-spaces !important;
    }
  }
}

.errorbox {
  color: initial !important;
}

.action_admin {
  &.sceditor-maximize {
    #main_menu,
    #genericmenu {
      display: none;
    }
  }
}

#lp_post {
  .centertext {
    .button {
      margin-inline-start: 4px;
    }
  }

  @media (max-width: 600px) {
    .button {
      float: none !important;
      inline-size: 100%;
      margin-inline-start: 0 !important;
    }
  }
}

.col-xs-12 {
  .pagesection {
    .button {
      margin: 2px;
    }
  }
}

.sceditor-container {
  position: relative;
  min-block-size: 300px !important;
}

.priority,
.status,
.actions {
  span {
    @include functions.pointer;
  }
}

.lp_default_blocks,
.lp_additional_blocks {
  margin-block-end: 10px !important;

  th {
    &.icon,
    &.actions {
      inline-size: 8%;
    }
  }
}

.handle {
  cursor: grab;
}

.additional_row {
  .button {
    margin-inline-start: 2px;
  }
}

@media (max-width: 887px) {
  .information {
    .righttext {
      text-align: center;
    }
  }
  .descbox {
    &.alternative2 {
      display: block;
    }
  }
}

/* Animations */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Virtual Select */
.vscomp-value-tag {
  background: variables.$tag-bg-color;
  border: 0 solid variables.$tag-border-color;
  color: variables.$tag-color;
  margin-block-start: 0;
  margin-inline-end: 3px;
  margin-block-end: 3px;
  margin-inline-start: 0;
  padding-block: 2px;
  padding-inline: 6px;
  @include functions.pointer;
  @include functions.bRadius(0);

  &[data-value^='!'] {
    background: variables.$ignore-action;
  }
}
.vscomp-value {
  block-size: auto !important;
  inline-size: 98%;

  div {
    margin: 0 !important;
  }

  i {
    margin-inline-end: 0.5em;
  }
}
.vscomp-option-text {
  div {
    margin: 0 !important;
  }
}
.vscomp-search-input {
  box-shadow: none;
}
.pop-comp-wrapper {
  flex-wrap: nowrap !important;
}
.vscomp-value-tag-content {
  inline-size: auto !important;
}

/* Svelecte */
.sv_dropdown {
  &.is-open {
    position: initial !important;
  }
}

/* RTL */
[dir='rtl'] {
  .gear {
    right: -5px !important;
  }

  i[class] {
    transform: scaleX(-1);
  }
}

/* Icon colors */
.fa-envelope-open-text {
  color: red;
}
.fa-floppy-disk {
  color: green;
}

/* Screen readers only */
.sr-only {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
