#lp_layout {
  h3,
  h4 {
    &:hover {
      white-space: normal;
    }
  }

  .file_content {
    white-space: break-spaces;
  }

  #post_confirm_buttons {
    padding-block-start: 12px !important;
    padding-inline-end: 0 !important;
    padding-block-end: 0 !important;
    padding-inline-start: 0 !important;
  }

  .row {
    > aside {
      margin: 0 !important;
    }

    flex-wrap: wrap;
    gap: 0;
  }

  .between-xs + .row,
  .row + .between-xs {
    margin-block-start: 5px;
  }

  .sticky_sidebar {
    position: sticky;
    inset-block-start: 5px;

    .button {
      float: none;
      inline-size: 100%;
    }
  }

  aside {
    > div {
      > h3,
      > h4 {
        white-space: nowrap;
        text-overflow: ellipsis;

        i {
          margin-inline-end: 0.5em;
        }
      }

      margin: 0;
    }

    .progress_bar {
      max-inline-size: initial;
    }

    &[id^='block']:not(:first-child) {
      clear: both;
      margin-block-start: 4px;
    }

    .block_edit {
      opacity: 0.5;

      &:hover {
        opacity: 1;
      }
    }
  }

  @media (max-width: 720px) {
    input {
      &[type='radio'] {
        inline-size: auto;
      }
    }
  }
}
