@use 'functions';

.fa-portal {
  &::before {
    content: '\f0ac';
  }
}

.portal_menu_icons {
  font-size: 0.875rem;
  @include functions.valign;

  &.fas,
  &.far {
    margin-block-start: -3px;
    margin-inline-end: 8px;
    margin-block-end: 0;
    margin-inline-start: 0;
  }
}
