@use "functions";

.related_pages {
	margin-top: 1em;

	.cat_bar {
		@include functions.bRadius;
	}

	.list {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
		grid-gap: 10px;

		& > div {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			text-align: center;
			background-color: #f9f9f9;
			border: 1px solid #ddd;
			border-radius: 5px;
			overflow: hidden;

			.article_image img {
				width: 100%;
				height: 200px;
				object-fit: cover;
			}
		}

		@media (max-width: 480px) {
			grid-template-columns: 1fr;
		}

		@media (min-width: 481px) and (max-width: 600px) {
			grid-template-columns: repeat(2, 1fr);
		}
	}
}