.infobox {
  display: flex;
  place-items: center;
  justify-content: space-between;

  .button {
    margin-inline-start: 4px;
  }
}

section {
  #display_head {
    margin-block-start: 0.1em;
    margin-block-end: 0;

    span {
      margin: 0;
    }
  }

  article[itemprop='articleBody'] {
    .button {
      margin-block: 2px;
      margin-inline: auto;
    }

    a:has(img) {
      display: grid;
      place-items: center;
    }

    img {
      display: block;
      margin-block: 2em;
      margin-inline: auto;
      border: 1px solid #ddd;
      border-radius: 4px;
      box-shadow:
        0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
      padding: 5px;
    }
  }
}
