@use 'functions';
@use 'variables';

.comments {
  margin-block-start: 1em;

  .cat_bar {
    @include functions.bRadius;
  }

  .pagesection {
    button {
      &:disabled {
        opacity: 0.5;
        pointer-events: none;
      }
    }
  }

  .bbc_list {
    list-style-type: initial;
  }

  .bbc_code {
    overflow: hidden !important;
  }

  .reply_form {
    textarea {
      resize: none;
      inline-size: 100%;
      block-size: 100px;
    }

    button {
      float: inline-start;
      margin-block-start: 10px;

      &[name='comment'] {
        float: inline-end;

        &[disabled] {
          opacity: 0.5;
          cursor: not-allowed;
        }
      }
    }
  }
}

.comment {
  &_list {
    list-style: none;
    margin-block: auto;
    margin-inline: 0;
    position: relative;

    li {
      clear: both;
      inline-size: 100%;
    }

    @media (max-width: 600px) {
      .col-xs-12 {
        flex-basis: 95%;
        margin-inline-start: 10px;
      }
    }
  }

  &_avatar {
    position: absolute;
    inline-size: 74px;
    inset-inline-start: 10px;
    @include functions.valign(top);

    @media (max-width: 600px) {
      display: none;
    }

    .avatar {
      max-inline-size: 45px !important;
      max-block-size: 45px !important;
      box-shadow: 0 0 4px #666;
      @include functions.bRadius(100%);
    }
  }

  &_wrapper {
    inline-size: 100%;
    padding-inline-start: 55px;

    .comment_entry {
      display: block;
      position: relative;
      padding-block-start: 0;
      padding-inline: 12px;
      padding-block-end: 8px;
      border: 1px solid variables.$color-light-gray;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      @include functions.bRadius(7px);

      .edit_form {
        textarea {
          resize: none;
          inline-size: 100%;
          block-size: 100px;
        }

        .comment_edit_buttons {
          display: flex;
          justify-content: left;
          gap: 10px;
          margin-block-start: 6px;
          padding-block-start: 6px;
          border-block-start: 1px dashed #bfbfbf;

          [role='button'] {
            opacity: 0.6;

            &:hover {
              opacity: 1;
              @include functions.pointer;
            }
          }
        }
      }
    }

    @media (max-width: 600px) {
      padding: 0 !important;
    }
  }

  &_title {
    display: flex;
    justify-content: space-between;
    font-size: 0.7rem;
    margin-block-start: -1px;
    margin-inline: -13px;
    margin-block-end: 10px;

    > span {
      font-weight: bold;
      border: 1px solid variables.$color-light-gray;
      display: inline-block;
      padding-block: 6px;
      padding-inline: 11px;
      @include functions.bRadius(7px, 0, 7px, 0);
      @include functions.valign(top);
    }

    .comment_date {
      border: 1px solid variables.$color-light-gray;
      display: inline-block;
      padding-block: 6px;
      padding-inline: 11px;
      opacity: 0.8;
      @include functions.bRadius(0, 7px, 0, 7px);
      @include functions.valign(top);

      .bbc_link {
        margin-inline-start: 10px;
      }
    }
  }

  &_content {
    padding-block: 0.2em;
    padding-inline: 1em;
  }

  &_buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-block-start: 6px;
    padding-block-start: 6px;
    border-block-start: 1px dashed variables.$comment-smalltext-color;

    [role='button'] {
      opacity: 0.6;

      &:hover {
        opacity: 1;
        @include functions.pointer;
      }

      &:last-child {
        margin-inline-start: auto;
        margin-inline-end: 0;
      }
    }
  }
}

[dir='rtl'] {
  .comment_avatar img {
    transform: scaleX(-1);
  }

  .comment_edit_buttons {
    justify-content: right !important;
  }
}
