.portal_menu_icons {
	vertical-align: middle;
	font-size: .875rem;
	margin: -3px 8px 0 0;
}

.main_menu_list,
.main_menu_list table,
.main_menu_list button {
	width: 100%;
}

.main_menu_list td .infobox {
	margin: 0;
}

@media screen and (max-width: 680px) {
	.main_menu_list .plugin_options td:first-child {
		display: none;
	}

	.main_menu_list .plugin_options td:last-child {
		width: auto !important;
	}
}
