/* Light Portal */
.fa-portal::before {
	content: "\f0ac";
}

.actions .fas {
	vertical-align: middle;
}

#lp_blocks .item {
	cursor: pointer;
}

#block_icon i {
	vertical-align: middle;
}

#info_center {
	margin-bottom: 5px;
}

#lp_layout h3,
#lp_layout h4 {
	white-space: nowrap;
	text-overflow: ellipsis;
}

#lp_layout h3:hover,
#lp_layout h4:hover {
	white-space: normal;
}

#lp_layout .file_content {
	white-space: break-spaces;
}

#lp_layout .preview .button {
	float: none;
}

#lp_layout .post_button_container input {
	display: block;
	width: 100%;
}

#lp_layout #post_confirm_buttons {
	padding: 12px 0 0 0 !important;
}

section #display_head {
	margin-bottom: 0;
}

section #display_head span {
	margin: 0;
}

aside.comments {
	margin-top: 1em
}

.comments .cat_bar {
	border-radius: 6px;
}

.comment_list {
	list-style: none;
}

.comment_list li {
	clear: both;
	width: 100%;
}

.comment_avatar {
	position: absolute;
	width: 74px;
	vertical-align: top;
	padding-right: 10px;
}

.comment_wrapper {
	width: 100%;
	padding-left: 80px;
}

.comment_body {
	position: relative;
	width: 100%;
	max-width: 100%;
	z-index: 0;
	margin-left: 0px!important;
	box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}

.popover_title {
	padding: 8px 14px;
	margin: 0;
	border-radius: 5px 5px 0 0;
	border: none;
	border-bottom: 1px solid #ddd;
}

.comment_date {
	color: gray;
}

.comment_body .content {
	padding: 9px 14px;
}

.comment_body .content:last-child {
	border-radius: 0 0 5px 5px;
}

#comment_form textarea {
	width: 100%;
	height: 30px;
}

.sceditor-container {
	min-height: 0 !important;
}

#comment_form button {
	margin-top: 10px;
	float: right;
	display: none;
}

.quick_reply .avatar {
	max-height: 28px;
	max-width: 28px;
}

#page_comments .row {
	margin-right: 0 !important;
	margin-left: 0 !important;
}

.priority span,
.actions span,
#page_comments_toggle {
	cursor: pointer;
}

.lp_current_blocks th.icon {
	width: 8%;
}

.lp_current_blocks th.type,
.lp_current_blocks th.areas,
.lp_current_blocks th.priority,
.lp_current_blocks th.actions {
	width: 14%;
}

.lp_frontpage_articles .roundframe {
	display: flex;
	flex-direction: column;
	box-sizing: content-box;
	padding: 8px 10px;
}

.article_link {
	margin-top: 10px;
}

.article_image {
	display: block;
	height: auto;
	max-width: 100%;
	border-radius: 5px;
}

.article_info {
	flex: 1 1 auto;
}

.author_and_category,
.date_and_views {
	align-items: center;
	justify-content: space-between;
	display: flex;
}

@media (max-width: 1200px) and (min-width: 1022px) {
	.article_info div {
		text-align: center;
		display: block;
	}
	.article_info .floatleft, .article_info .floatright {
		float: none;
	}
}

#postpage #post_header dt {
	width: 22%;
}

#postpage #post_header dd {
	width: 76%;
}

@media (max-width: 980px) {
	#postpage #post_header dt,
	#postpage #post_header dd,
	#postblock #post_header dt,
	#postblock #post_header dd {
		width: auto;
		float: none;
	}
}

@media (max-width: 600px) {
	.lp_current_blocks th.type,
	.lp_current_blocks td.type,
	.lp_current_blocks th.areas,
	.lp_current_blocks td.areas {
		display: none;
	}
	.table_grid th.num_views,
	.table_grid td.num_views,
	.table_grid th.type,
	.table_grid td.type {
		display: none;
	}
	#postpage .button,
	#postblock .button {
		float: none !important;
		width: 100%;
		margin-left: 0 !important;
	}
	.comment_avatar {
		display: none;
	}
	.comment_wrapper {
		padding: 0;
	}
	.comment_list .col-xs-12 {
		flex-basis: 95%;
		margin-left: 10px;
	}
	#lp_layout .post_button_container {
		margin: 0 auto;
	}
	#lp_layout .post_button_container + .padding {
		padding: 0;
	}
	#lp_layout input[type="radio"] {
		width: auto;
	}
}

@media (max-width: 480px) {
	.lp_current_blocks th.icon,
	.lp_current_blocks td.icon {
		display: none;
	}
	.table_grid th.date,
	.table_grid td.date {
		display: none;
	}
}

@media (max-width: 1120px) and (min-width: 1024px) {
	.block_user_info span.floatleft,
	.block_user_info span.floatright {
		float: none;
		margin: 0 auto;
		display: block;
	}
}

/* Addons */

/* Likely */
.likely__widget {
	opacity: 0.5 !important;
	filter: grayscale(100%);
}
.likely__widget:hover {
	opacity: 1 !important;
	filter: grayscale(0%);
}

/* Recent Posts, Recent Topics, Random Topics, Recent Comments */
.recent_posts li,
.recent_topics li,
.random_topics li,
.recent_comments li {
	margin: 4px 0 0 0;
	padding: 6px 12px;
}

/* Top Posters */
dl.top_posters dt img {
	width: 24px;
	vertical-align: middle;
}

/* Themeswitcher */
.themeswitcher select {
	cursor: pointer;
}

/* Markdown */
.page_md .bbc_code,
.block_md .bbc_code {
	overflow: auto !important;
	white-space: pre;
}

.page_md .task-list-item,
.block_md .task-list-item {
	list-style: none;
	margin-left: -20px;
}

.page_md blockquote {
	width: 100% !important;
}

/* Recent Attachments */
.recent_attachments {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

.column_direction {
	flex-direction: column !important;
}

.recent_attachments .item {
	margin: 5px;
}

/* Topic Rating Bar */
.lp_frontpage_articles .topic_stars_main {
	float: right;
}
.lp_frontpage_articles .topic_stars {
	background-image: url(../../images/trb/one_star.png);
	background-repeat: no-repeat;
}

/* VkComments */
#vk_comments {
	margin-top: 1em;
}