/* Light Portal */
.fa-portal::before {
	content: "\f0ac";
}

.actions .fas {
	vertical-align: middle;
}

.block_bbc .videocontainer,
.block_html .videocontainer,
.block_md .videocontainer {
	margin: 0 auto;
}

#lp_blocks .item {
	cursor: pointer;
}

#block_icon i {
	vertical-align: middle;
}

#info_center {
	margin-bottom: 5px;
}

.lp_frontpage_articles h3,
.lp_frontpage_articles h4 {
	white-space: nowrap;
	text-overflow: ellipsis;
}

#lp_layout h3:hover,
#lp_layout h4:hover {
	white-space: normal;
}

#lp_layout .file_content {
	white-space: break-spaces;
}

#lp_layout .preview .button {
	float: none;
}

#lp_layout .post_button_container input {
	display: block;
	width: 100%;
}

#lp_layout .post_button_container .button:not(:first-child) {
	margin-left: 0 !important;
}

#lp_layout #post_confirm_buttons {
	padding: 12px 0 0 0 !important;
}

#lp_layout aside > div > h3, #lp_layout aside > div > h4 {
	white-space: nowrap;
	text-overflow: ellipsis;
}

section #display_head {
	margin-top: 0.1em;
	margin-bottom: 0;
}

section #display_head span {
	margin: 0;
}

#display_jump_to {
	text-align: right;
	clear: both;
	float: none;
}

aside.comments {
	margin-top: 1em
}
p.errorbox.permissions {
	margin: 0;
}

.comments .cat_bar {
	border-radius: 6px;
}

.comment_list {
	list-style: none;
}

.comment_list li {
	clear: both;
	width: 100%;
}

.comment_avatar {
	position: absolute;
	width: 74px;
	vertical-align: top;
	padding-right: 10px;
}

.comment_wrapper {
	width: 100%;
	padding-left: 80px;
}

#comment_form textarea {
	width: 100%;
	height: 30px;
}

.sceditor-container {
	min-height: 0 !important;
}

#comment_form button {
	margin-top: 10px;
	float: right;
	display: none;
}

.quick_reply .avatar {
	max-height: 28px;
	max-width: 28px;
}

#page_comments .row {
	margin-right: 0 !important;
	margin-left: 0 !important;
}

.priority span,
.actions span,
#page_comments_toggle {
	cursor: pointer;
}

.entry {
	display: block;
	position: relative;
	padding: 0 12px 8px;
	border: 1px solid #ddd;
	border-radius: 7px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}

.entry .title {
	display: block;
	font-size: .9em;
	margin: -1px -13px -11px;
	line-height: 20px;
	text-align: justify;
}

.entry .title:after {
	display: inline-block;
	content: '';
	width: 100%;
	height: 0;
	visibility: hidden;
	overflow: hidden;
}

.entry .content {
	padding: 0 14px;
}

.entry .smalltext {
	margin-top: 6px;
	padding-top: 6px;
	border-top: 1px dashed #bfbfbf;
}

.title .bold_text {
	border: 1px solid #ddd;
	border-radius: 7px 0;
	display: inline-block;
	vertical-align: top;
	padding: 6px 11px;
}

.title .comment_date {
	border: 1px solid #ddd;
	border-radius: 0 7px;
	display: inline-block;
	vertical-align: top;
	padding: 6px 11px;
	color: gray;
}

.lp_current_blocks th.icon {
	width: 8%;
}

.lp_current_blocks th.type,
.lp_current_blocks th.areas,
.lp_current_blocks th.priority,
.lp_current_blocks th.actions {
	width: 14%;
}

.lp_frontpage_articles .roundframe {
	display: flex;
	flex-direction: column;
	box-sizing: content-box;
	padding: 8px 10px;
}

/* .article_info {
	flex: 1 1 auto;
} */

.article_content {
	overflow: hidden;
	flex: 1 1 auto;
}

.article_content .inner {
	height: auto;
	min-height: auto;
	overflow: hidden;
	color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
	background-image: linear-gradient(to bottom, #000, #000, rgba(0, 0, 0, 0));
}

.article_image {
	flex: 1 1 60%;
	display: flex;
	justify-content: center;
}

.article_image img {
	display: block;
	height: auto;
	max-width: 100%;
	border-radius: 5px;
}

.article_image i {
	align-self: center;
}

.author_and_category,
.date_and_views {
	align-items: center;
	justify-content: space-between;
	display: flex;
}

.features .floatleft {
	width: 80%;
}

.lp_plugin_toggle,
.lp_plugin_settings {
	cursor: pointer;
}

.lp_plugin_settings {
	position: relative;
	top: -3px;
	vertical-align: baseline !important;
}

.form_settings input[type="text"] {
	width: 100%;
}

.footer .infobox, .footer .errorbox {
	display: none;
}

#postpage #post_header dt {
	width: 22%;
}

#postpage #post_header dd {
	width: 76%;
}

@media (max-width: 480px) {
	.lp_current_blocks th.icon,
	.lp_current_blocks td.icon {
		display: none;
	}
	#pages th.date,
	#pages td.date {
		display: none;
	}
}

@media (max-width: 600px) {
	.lp_current_blocks th.title,
	.lp_current_blocks td.title,
	.lp_current_blocks th.areas,
	.lp_current_blocks td.areas {
		display: none;
	}
	#postpage .button,
	#postblock .button {
		float: none !important;
		width: 100%;
		margin-left: 0 !important;
	}
	.comment_avatar {
		display: none;
	}
	.comment_wrapper {
		padding: 0;
	}
	.comment_list .col-xs-12 {
		flex-basis: 95%;
		margin-left: 10px;
	}
	#lp_layout .post_button_container {
		margin: 0 auto;
	}
	#lp_layout .post_button_container + .padding {
		padding: 0;
	}
	#lp_layout input[type="radio"] {
		width: auto;
	}
}

@media (max-width: 800px) {
	#pages th.alias,
	#pages td.alias {
		display: none;
	}
}

@media (max-width: 980px) {
	#postpage #post_header dt,
	#postpage #post_header dd,
	#postblock #post_header dt,
	#postblock #post_header dd {
		width: auto;
		float: none;
	}

	#pages th.num_views,
	#pages td.num_views,
	#pages th.type,
	#pages td.type {
		display: none;
	}
}

@media (max-width: 1120px) and (min-width: 1024px) {
	.block_user_info span.floatleft,
	.block_user_info span.floatright {
		float: none;
		margin: 0 auto;
		display: block;
	}
}

@media (max-width: 1200px) and (min-width: 1022px) {
	.article_info div {
		text-align: center;
		display: block;
	}
	.article_info .floatleft, .article_info .floatright {
		float: none;
	}
}

/* Addons */

/* Likely */
.likely__widget {
	opacity: 0.5 !important;
	filter: grayscale(100%);
}
.likely__widget:hover {
	opacity: 1 !important;
	filter: grayscale(0%);
}

/* RecentPosts, RecentTopics, RandomTopics, RecentComments */
.recent_posts li,
.recent_topics li,
.random_topics li,
.recent_comments li {
	margin: 4px 0 0 0;
	padding: 6px 12px;
}

.recent_posts .poster_avatar {
	float: left;
	padding: 3px 11px 0 0;
}

.recent_posts .avatar {
	width: 40px;
	height: 40px;
}

/* TopPosters */
dl.top_posters dt img {
	width: 24px;
	vertical-align: middle;
}

/* ThemeSwitcher */
.themeswitcher select {
	cursor: pointer;
}

/* Markdown */
.page_md .bbc_code,
.block_md .bbc_code {
	overflow: auto !important;
	white-space: pre;
}

.page_md .task-list-item,
.block_md .task-list-item {
	list-style: none;
	margin-left: -20px;
}

.page_md blockquote {
	width: 100% !important;
}

/* RecentAttachments */
.recent_attachments {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

.column_direction {
	flex-direction: column !important;
}

.recent_attachments .item {
	margin: 5px;
}

/* TopicRatingBar */
.lp_frontpage_articles .topic_stars_main {
	float: right;
}
.lp_frontpage_articles .topic_stars {
	background-image: url(../../images/trb/one_star.png);
	background-repeat: no-repeat;
}

/* VkComments */
#vk_comments {
	margin-top: 1em;
}

/* CurrentMonth */
.block_current_month table {
	width: 100%;
	margin-bottom: 10px;
	border-collapse: collapse;
	background: #f0f4f7;
	border: 1px solid #ddd;
	text-align: center;
}
.block_current_month th {
	padding: 2px;
	background: #e7eaef;
	font-size: smaller;
}
.block_current_month td {
	padding: 2px;
	width: 12.5%;
	vertical-align: top;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
.block_current_month td.disabled {
	background: #eee;
	border: 1px solid #ddd;
}
.block_current_month td.events {
	background: rgba(30, 245, 20, 0.1);
}
.block_current_month td.holidays {
	background: rgba(23, 110, 245, 0.1);
}
.block_current_month td.birthdays {
	background: rgba(102, 0, 255, 0.1);
}
.block_current_month td.events:hover,
.block_current_month td.calendar_today.events {
	background: rgba(30, 245, 20, 0.2);
}
.block_current_month td.holidays:hover,
.block_current_month td.calendar_today.holidays {
	background: rgba(23, 110, 245, 0.2);
}
.block_current_month td.birthdays:hover,
.block_current_month td.calendar_today.birthdays {
	background: rgba(153, 51, 255, 0.2);
}
.block_current_month table .windowbg {
	box-shadow: none;
	border-radius: 0;
	box-sizing: content-box;
	margin: 0;
}
.block_current_month td a {
	display: block;
}
.block_current_month td a:hover {
	text-decoration: none;
	background: rgba(97, 135, 166, 0.2);
}
.block_current_month .calendar_today span.day_text,
.block_current_month .calendar_today {
	font-weight: bold;
}