$color-light-gray: #ddd;
$color-white: #fff;
$color-black: #000;
$color-checked: #00cc33;
$article-category-color: #868686;
$article-author-color: #ad7d52;
$comment-smalltext-color: #bfbfbf;
$tabs-input-color: #555;
$tabs-input-border-color: #f49a3a;
$tabs-label-color: #aaa;
$tabs-label-hover-color: #888;

@mixin pointer() {
	cursor: pointer;
}
@mixin valign($align: middle) {
	vertical-align: $align;
}
@mixin border-radius($topleft: null, $topright: null, $bottomright: null, $bottomleft: null) {
	@if $topright == null and $bottomright == null and $bottomleft == null {
		border-radius: $topleft;
		$topleft: null;
	}
	@if $topleft != null and $topleft >= 0 {
		border-top-left-radius: $topleft;
	}
	@if $topright != null and $topright >= 0 {
		border-top-right-radius: $topright;
	}
	@if $bottomleft != null and $bottomleft >= 0 {
		border-bottom-left-radius: $bottomleft;
	}
	@if $bottomright != null and $bottomright >= 0 {
		border-bottom-right-radius: $bottomright;
	}
}
@mixin box-shadow($shadows...) {
	box-shadow: $shadows;
}

.fa-portal {
	&::before {
		content: "\f0ac";
	}
}

.actions {
	.context_menu {
		position: relative;

		.roundframe {
			position: absolute;
			top: 0;
			right: 0;
			z-index: 30;

			ul {
				overflow: auto;
				position: relative;
				list-style: none;
				z-index: 10;

				a {
					width: 100%;
					margin-bottom: 2px;
				}
			}
		}
	}
}

.block_bbc,
.block_html,
.block_md {
	.videocontainer {
		margin: 0 auto;
	}
}

.preview .button {
	float: none !important;
}

.descbox {
	@include border-radius(6px);
	.bbc_code {
		overflow: hidden !important;
	}
}

.portal_menu_icons {
	font-size: .875rem;
	vertical-align: middle;
	margin: -3px 8px 0 0;
}

#lp_blocks {
	.item {
		@include pointer;
		height: 96%;
	}

	margin-bottom: 1em;
}

#block_icon {
	i {
		@include valign;
	}
}

#info_center {
	margin-bottom: 5px;
}

#admin_form_wrapper {
	p {
		&.errorbox {
			margin: 0;
		}
	}
}

/* Tabs for settings */
.lp_tabs {
	padding: 0;
	margin: 0 auto;

	> input {
		display: none;
		position: absolute;

		&:checked+label {
			color: $tabs-input-color;
			border-top: 1px solid $tabs-input-border-color;
			border-bottom: 1px solid $color-white;
		}
	}

	input,
	textarea {
		&:invalid {
			border: 3px double red;
		}
	}

	> label {
		display: inline-block;
		margin: 0 0 -1px;
		padding: 15px 25px;
		font-weight: 600;
		text-align: center;
		color: $tabs-label-color;
		border: 1px solid $color-light-gray;
		@include border-radius(3px, 3px);

		&:hover {
			color: $tabs-label-hover-color;
			@include pointer;
		}

		&:before {
			font-family: "Font Awesome 5 Free";
			margin-right: 10px;
		}

		&[for*="1"] {
			&:before {
				content: "\f15c";
			}
		}
		&[for*="2"] {
			&:before {
				content: "\f084";
			}
		}
		&[for*="3"] {
			&:before {
				content: "\f53f";
			}
		}
		&[for*="4"] {
			&:before {
				content: "\f509";
			}
		}

		@media screen and (max-width: 680px) {
			font-size: 0;

			&:before {
				margin: 0;
				font-size: 1.125rem;
			}
		}

		@media screen and (max-width: 400px) {
			padding: 15px;
		}
	}

	#tab1:checked~#content-tab1,
	#tab2:checked~#content-tab2,
	#tab3:checked~#content-tab3,
	#tab4:checked~#content-tab4 {
		display: block;
	}

	section {
		display: none;
		padding: 15px;
		border: 1px solid $color-light-gray;
		@include border-radius(null, 7px, 7px, 7px);

		> div {
			margin-top: 1em;
		}

		#post_header {
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
			line-height: 1.5;
			-webkit-animation-duration: 1s;
			animation-duration: 1s;
			-webkit-animation-fill-mode: both;
			animation-fill-mode: both;
			-webkit-animation-name: fadeIn;
			animation-name: fadeIn;

			@media (max-width: 600px) {
				flex-direction: row;
			}

			dt {
				width: 50%;

				label {
					font-weight: bold;
				}
			}

			dt, dd {
				margin-block-start: 1px;
				margin-block-end: 1px;
				margin-inline-start: 0;
				padding-top: 5px;

				&:first-child, &:first-child {
					margin-block-start: 0;
				}

				&:last-child, &:last-child {
					margin-block-end: 0;
				}

				& > *:first-child, & > *:first-child {
					margin-block-start: 0;
				}
				& > *:last-child, & > *:last-child {
					margin-block-end: 0;
				}

				width: auto !important;
				float: none !important;
				flex: 2 50%;

				@media (max-width: 600px) {
					flex: 1 100%;
					text-align: center;
				}
			}

			dt.pf_content, dd.pf_content {
				width: 100%;
			}
		}

		.choices__inner {
			@include border-radius(6px);
		}
	}
}

/* Checkbox toggler */
.checkbox {
	@include valign(top);
	margin: 0 3px 0 0;
	width: 17px;
	height: 17px;

	& + .label {
		@include pointer;
	}

	&:not(checked) {
		position: absolute;
		opacity: 0;

		& + .label {
			position: relative;
			padding: 0 0 0 60px;

			&:before {
				content: '';
				position: absolute;
				top: -4px;
				left: 0;
				width: 50px;
				height: 26px;
				@include border-radius(13px);
				background: #cdd1da;
				@include box-shadow(inset 0 2px 3px rgba(0, 0, 0, .2));
			}

			&:after {
				content: '';
				position: absolute;
				top: -2px;
				left: 2px;
				width: 22px;
				height: 22px;
				@include border-radius(10px);
				background: $color-white;
				@include box-shadow(0 2px 5px rgba(0, 0, 0, .3));
				transition: all .2s;
			}
		}
	}

	&:checked {
		& + .label {
			&:before {
				background: $color-checked;
			}

			&:after {
				left: 26px;
			}
		}
	}
}

.errorbox {
	color: initial !important;
}

#lp_layout {
	h3, h4 {
		&:hover {
			white-space: normal;
		}
	}

	.file_content {
		white-space: break-spaces;
	}

	#post_confirm_buttons {
		padding: 12px 0 0 0 !important;
	}

	.row {
		> aside {
			margin: 0 !important;
		}
	}

	.sticky_sidebar {
		position: sticky;
		position: -webkit-sticky;
		top: 5px;
	}

	aside {
		> div {
			> h3, > h4 {
				white-space: nowrap;
				text-overflow: ellipsis;
			}
		}

		&[id^="block"]:not(:first-child) {
			clear: both;
			margin-top: 4px;
		}
	}
}

.likes_area {
	list-style: none;
}

.related_pages {
	margin-top: 1em;

	.article_list {
		grid-template-columns: repeat(4, 1fr);

		.windowbg {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			text-align: center;
		}
	}
}

.comments {
	margin-top: 1em;

	.avatar {
		max-width: 45px !important;
		max-height: 45px !important;
		@include border-radius(100%);
		@include box-shadow(0 0 4px #666);
	}

	.cat_bar {
		@include border-radius(6px);
	}
}

section {
	#display_head {
		margin-top: .1em;
		margin-bottom: 0;

		span {
			margin: 0;
		}
	}
}

/* The frontpage style */
.lp_frontpage_articles {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.article_view {
	> div {
		margin-bottom: 10px;
	}

	article {
		transition: all .4s cubic-bezier(.175, .885, 0, 1);
		position: relative;
		@include border-radius(12px);
		overflow: hidden;
		padding: 0;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		height: 95%;
		min-height: 100%;

		a:hover {
			text-decoration: none;
			opacity: .7;
		}

		&:hover {
			@include box-shadow(0 0 10px 5px rgba(221, 221, 221, 1));

			.new_posts {
				display: none;
			}

			.new_hover,
			.info_hover {
				opacity: 1;
				z-index: 1;
			}

			.card_img_hover {
				opacity: .5;
			}

			.card_info {
				background-color: transparent;
				position: relative;
			}
		}

		.new_hover {
			position: absolute;
			padding: 16px;
			top: 0;
			left: 0;

			.new_icon {
				position: relative;
				z-index: 2;
			}
		}

		.info_hover {
			position: absolute;
			padding: 16px;
			opacity: 0;
			top: 0;
			right: 0;

			.edit_icon {
				position: relative;
				z-index: 2;
			}
		}

		.card_img {
			visibility: hidden;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			width: 100%;
			height: 235px;
		}

		.card_img_hover {
			transition: .2s all ease-out;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			width: 100%;
			position: absolute;
			height: 235px;
			top: 0;
		}

		.card_info {
			display: flex;
			flex-grow: 1;
			flex-direction: column;
			justify-content: space-between;
			padding: 1.2em;

			div {
				margin-top: 1em;
			}

			.card_date {
				font-weight: 500;
				color: $article-category-color;
			}

			h3 {
				font-size: 1.25rem;
				font-weight: 700;
				margin: 10px 0 10px 0;
				overflow: hidden;
				display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
				line-height: 1.3em;

				+ div {
					display: flex;
					flex-wrap: wrap;
					flex-direction: row;
					justify-content: space-between;
				}
			}

			p {
				margin-bottom: 5px;
				overflow: hidden;
				//text-overflow: ellipsis;
				display: -webkit-box;
				-webkit-line-clamp: 3;
				-webkit-box-orient: vertical;
				line-height: 1.4em;
			}

			.card_author {
				font-weight: 600;
				text-decoration: none;
				color: $article-author-color;
			}
		}
	}
}

// Topic alt
.article_alt_view {
	article {
		transition: all .4s cubic-bezier(.175, .885, 0, 1);
		position: relative;
		padding: 1em;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 99%;

		header {
			.title_bar {
				padding: 8px 12px;

				h3 {
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}

				+ div {
					padding: 10px;
				}
			}

			img {
				max-height: 235px;
				width: 100%;
			}
		}

		.article_body {
			p {
				margin-bottom: 5px;
				overflow: hidden;
				display: -webkit-box;
				-webkit-line-clamp: 3;
				-webkit-box-orient: vertical;
				line-height: 1.4em;
			}
		}

		.article_footer {
			div {
				padding: 4px;
			}
		}
	}
}

// Topic alt2
.article_alt2_view {
	display: flex;
	flex-wrap: wrap;

	article {
		display: flex;
		flex: 1 1 300px;
		flex-direction: column;
		overflow: hidden;
		margin: 0 10px 10px;
		min-height: 300px;
		background-size: cover;
		@include border-radius(5px);
		@include box-shadow(0 3px 7px -1px rgba(0, 0, 0, .1));
		transition: all .5s ease;

		.article_image_link {
			display: block;
			position: relative;
			overflow: hidden;
			@include border-radius(5px, 5px);

			div {
				width: auto;
				height: 200px;
				background-repeat: no-repeat;
				background-size: cover;
			}
		}

		.article_body {
			display: flex;
			flex-grow: 1;
			flex-direction: column;
			justify-content: space-between;

			div {
				display: block;
				position: relative;
				padding: 25px 25px 0;

				header {
					time {
						display: block;
						margin-bottom: 4px;
						line-height: 1.15;
						font-weight: 500;
						letter-spacing: .5px;
						text-transform: uppercase;
					}

					h3 {
						margin: 1em 0 .5em;
						font-size: 1.2rem;
						line-height: 1.15;
					}
				}

				section {
					p {
						margin-bottom: 5px;
						overflow: hidden;
						display: -webkit-box;
						-webkit-line-clamp: 3;
						-webkit-box-orient: vertical;
						line-height: 1.4em;
					}
				}
			}

			footer {
				display: flex;
				justify-content: space-between;
				align-items: flex-end;
				padding: 0 25px 5px;

				img {
					margin-right: 5px;
					width: 25px;
					height: 25px;
					@include border-radius(100%);
					object-fit: cover;
				}

				> span {
					font-weight: 500;
					letter-spacing: .5px;
					text-transform: uppercase;
				}
			}
		}
	}
}

// Topic alt3
.article_alt3_view {
	.card {
		display: flex;
		flex-direction: column;
		margin: 1rem auto;
		@include box-shadow(0 3px 7px -1px rgba(0, 0, 0, .1));
		line-height: 1.4;
		font-family: sans-serif;
		@include border-radius(5px);
		overflow: hidden;
		z-index: 0;

		&:hover {
			.photo {
				transform: scale(1.3) rotate(3deg);
			}

			.details {
				left: 0%;
			}
		}

		a {
			color: inherit;
		}

		.meta {
			position: relative;
			z-index: 0;
			height: 200px;
		}

		.photo {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-size: cover;
			background-position: center;
			transition: transform .2s;
		}

		.details {
			margin: auto;
			padding: 0;
			list-style: none;
			position: absolute;
			top: 0;
			bottom: 0;
			left: -100%;
			margin: auto;
			transition: left .2s;
			background: rgba(0, 0, 0, .6);
			color: $color-white;
			padding: 10px;
			width: 100%;
			font-size: .9rem;

			strong {
				color: inherit;
			}

			ul {
				margin: auto;
				padding: 0;
				list-style: none;

				li {
					display: inline-block;
				}
			}

			i {
				margin-right: 10px;
			}

			a {
				-webkit-text-decoration: dotted underline;
						text-decoration: dotted underline;

				&:hover {
					color: #5ad67d;
				}
			}

			.tags {
				li {
					margin-right: 2px;

					&:first-child {
						margin-left: -4px;
					}
				}
			}
		}

		.description {
			padding: 1rem;
			background: $color-white;
			position: relative;
			z-index: 1;
			display: flex;
			justify-content: space-between;
			flex-direction: column;

			a {
				&:hover {
					text-decoration: none;
				}
			}

			h1,
			h2 {
				font-family: Poppins, sans-serif;
			}

			h1 {
				line-height: 1;
				margin: 0;
				font-size: 1.4rem;
			}

			h2 {
				font-weight: 300;
				text-transform: uppercase;
				color: #a2a2a2;
				margin-top: 5px;
			}

			p {
				position: relative;
				margin: 1rem 0 0;
				margin-bottom: 5px;
				overflow: hidden;
				//text-overflow: ellipsis;
				display: -webkit-box;
				-webkit-line-clamp: 3;
				-webkit-box-orient: vertical;
				line-height: 1.4em;

				&:first-of-type {
					margin-top: 1.25rem;

					&:before {
						content: "";
						position: absolute;
						height: 5px;
						background: #5ad67d;
						width: 35px;
						top: -.75rem;
						@include border-radius(3px);
					}
				}
			}

			.read_more {
				text-align: right;

				a {
					display: inline-block;
					position: relative;
				}
			}
		}

		@media (min-width: 640px) {
			flex-direction: row;

			.meta {
				flex-basis: 40%;
				height: auto;
			}

			.description {
				flex-basis: 60%;

				&:before {
					transform: skewX(-3deg);
					content: "";
					background: $color-white;
					width: 30px;
					position: absolute;
					left: -10px;
					top: 0;
					bottom: -1px;
					z-index: -1;
				}
			}
		}
	}
}

/* .alt {
	flex-direction: row-reverse !important;

	.description {
		&:before {
			left: inherit;
			right: -10px;
			transform: skew(3deg);
		}
	}

	.details {
		padding-left: 25px;
	}
} */

// Topic alt4
.article_alt4_view {
	$alt4-color: #3c3163;
	$alt4-transition-time: .5s;

	justify-content: center;

	article {
		.num {
			margin-bottom: 1.2rem;
		}

		.card {
			font-family: 'Heebo';
			background-image: linear-gradient(rgba(0, 0, 0, .5),rgba(0, 0, 0, .5)), var(--bg-img);
			height: 20em;
			width: 15em;
			font-size: 1.2rem;
			color: $color-white;
			@include border-radius(1em);
			margin: 2px;
			padding: 1em;
			display: flex;
			align-items: flex-end;
			background-size: cover;
			background-position: center;
			transition: all, $alt4-transition-time;
			position: relative;
			overflow: hidden;
			border: 5px solid #ccc;
			text-decoration: none;

			&:hover {
				transform: rotate(0);
				color: $alt4-color;

				.tags {
					.tag {
						background: $alt4-color;
						color: $color-white;
					}
				}

				&:before,
				&:after {
					transform: scale(1);
				}
			}

			&:before,
			&:after {
				content: '';
				transform: scale(0);
				transform-origin: top left;
				@include border-radius(50%);
				position: absolute;
				left: -50%;
				top: -50%;
				z-index: -5;
				transition: all, $alt4-transition-time;
				transition-timing-function: ease-in-out;
			}

			&:before {
				background: $color-light-gray;
				width: 250%;
				height: 250%;
			}

			&:after {
				background: $color-white;
				width: 200%;
				height: 200%;
			}

			h1 {
				margin: 0;
				font-size: 1.6rem;
				line-height: 1.2em;
				color: inherit;
			}

			p {
				font-size: 1rem;
				font-family: 'Open Sans';
				line-height: 2em;
				margin-top:.5em;
				margin-bottom: 5px;
				overflow: hidden;
				//text-overflow: ellipsis;
				display: -webkit-box;
				-webkit-line-clamp: 3;
				-webkit-box-orient: vertical;
			}

			.tags {
				display: flex;

				.tag {
					font-size: .8rem;
					background: rgba(255, 255, 255, .5);
					@include border-radius(.3rem);
					padding: 0 .5em;
					margin-right: .5em;
					line-height: 1.5em;
					transition: all, $alt4-transition-time;
				}
			}

			.date {
				position: absolute;
				top: 0;
				right: 0;
				font-size: .9rem;
				padding: 1em;
				line-height: 1em;
				opacity: .8;

				strong {
					color: inherit;
				}
			}


			@media screen and (max-width: 500px) {
				max-width: calc(100vw - 4rem);
			}
		}
	}
}

.comment_list {
	list-style: none;

	li {
		clear: both;
		width: 100%;

		.comment_avatar {
			position: absolute;
			width: 74px;
			@include valign(top);
			padding-right: 10px;
		}

		.comment_wrapper {
			width: 100%;
			padding-left: 55px;

			.entry {
				display: block;
				position: relative;
				padding: 0 12px 8px;
				border: 1px solid $color-light-gray;
				@include border-radius(7px);
				@include box-shadow(0 2px 5px rgba(0, 0, 0, .1));

				.title {
					display: block;
					font-size: .7rem;
					margin: -1px -13px -11px;
					line-height: 20px;
					text-align: justify;

					&::after {
						display: inline-block;
						content: '';
						width: 100%;
						height: 0;
						visibility: hidden;
						overflow: hidden;
					}

					> span {
						font-weight: bold;
						border: 1px solid $color-light-gray;
						@include border-radius(7px, null, 7px, null);
						display: inline-block;
						@include valign(top);
						padding: 6px 11px;
					}

					.comment_date {
						border: 1px solid $color-light-gray;
						@include border-radius(null, 7px, null, 7px);
						display: inline-block;
						@include valign(top);
						padding: 6px 11px;
						opacity: .8;
					}
				}

				.content {
					padding: 0 14px;

					.bbc_list {
						list-style-type: initial;
					}

					.bbc_code {
						overflow: hidden !important;
					}
				}

				.reply_button,
				.modify_button,
				.update_button,
				.cancel_button,
				.remove_button {
					opacity: .6;
					margin-right: 5px;

					&:hover {
						@include pointer;
						opacity: 1;
					}
				}

				.update_button,
				.cancel_button {
					display: none;
				}

				.smalltext {
					margin-top: 6px;
					padding-top: 6px;
					border-top: 1px dashed $comment-smalltext-color;
				}
			}
		}
	}
}

#comment_form {
	.toolbar {
		display: none;
	}

	textarea {
		width: 100%;
		height: 30px;
	}

	button {
		&[name="comment"] {
			margin-top: 10px;
			float: right;
			display: none;
		}
	}
}

.sceditor-container {
	position: relative;
	min-height: 300px !important;
}

.priority,
.status,
.actions {
	span {
		@include pointer;
	}
}

#page_comments {
	.row {
		margin-right: 0 !important;
		margin-left: 0 !important;
	}
}

#page_comments_toggle {
	@include pointer;
}

.lp_default_blocks,
.lp_additional_blocks {
	th {
		&.icon,
		&.actions {
			width: 8%;
		}
	}
}

.features {
	.floatleft {
		width: 80%;
	}

	.fa-toggle-on {
		color: $color-checked;
	}

	form {
		textarea {
			width: 100%;
		}
	}
}

.lp_plugin_toggle,
.lp_plugin_settings {
	@include pointer;
}

.lp_plugin_settings {
	position: relative;
	top: -3px;
	@include valign(baseline !important);
}

.form_settings {
	> div {
		margin: 10px;
	}
	input {
		&[type="text"],
		&[type="url"] {
			width: 100%;
		}
	}
}

.lp_categories {
	input {
		width: 100%;
	}
	textarea {
		width: 100%;
		resize: none;
		margin-top: 1px;
	}
	dt {
		.handle {
			cursor: grab;
		}
		td.handle {
			font-size: 1.2rem;
		}
		span.floatright {
			font-size: 1.4rem;
			font-weight: bold;
			cursor: pointer;
		}
	}
	dd {
		.roundframe {
			margin-top: 0;
		}
	}
}

/* Common media queriers */
@media (max-width: 480px) {
	.lp_default_blocks,
	.lp_additional_blocks {
		th, td {
			&.icon,
			&.type,
			&.areas {
				display: none;
			}
		}
	}
	#lp_pages {
		th, td {
			&.date {
				display: none;
			}
		}
	}
	.related_pages {
		.article_list {
			grid-template-columns: 1fr;
		}
	}
}

@media (min-width: 481px) and (max-width: 600px) {
	.lp_default_blocks,
	.lp_additional_blocks {
		th, td {
			&.title,
			&.areas {
				display: none;
			}
		}
	}
	.related_pages {
		.article_list {
			grid-template-columns: repeat(2, 1fr);
		}
	}
}

@media (max-width: 600px) {
	.comment_avatar {
		display: none;
	}
	.comment_wrapper {
		padding: 0 !important;

		.title {
			.bg {
				padding: 4px !important;
			}
		}
	}
	.comment_list {
		.col-xs-12 {
			flex-basis: 95%;
			margin-left: 10px;
		}
	}
	#lp_post {
		.button {
			float: none !important;
			width: 100%;
			margin-left: 0 !important;
		}
	}
}

@media (max-width: 720px) {
	#lp_layout {
		input {
			&[type="radio"] {
				width: auto;
			}
		}
	}
}

@media (max-width: 800px) {
	#lp_pages {
		th, td {
			&.num_views {
				display: none;
			}
		}
	}
}

@media (max-width: 887px) {
	.information {
		.righttext {
			text-align: center;
		}
	}
	#lp_pages {
		th, td {
			&.alias {
				display: none;
			}
		}
	}
}

@media (min-width: 1022px) and (max-width: 1200px) {
	.article_info {
		div {
			text-align: center;
			display: block;
		}
		.floatleft,
		.floatright {
			float: none;
		}
	}
}

/* Animations */
@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
