/* Used functions */
/* Portal menu icon for some themes */
.fa-portal::before {
  content: "\f0ac";
}
/* Context menu for blocks and pages */
.actions .context_menu {
  position: relative;
}
.actions .context_menu .roundframe {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 30;
}
.actions .context_menu .roundframe ul {
  overflow: auto;
  position: relative;
  list-style: none;
  z-index: 10;
}
.actions .context_menu .roundframe ul a {
  width: 100%;
  margin-bottom: 2px;
}
.block_bbc .videocontainer,
.block_html .videocontainer,
.block_markdown .videocontainer {
  margin: 0 auto;
}
.preview .button {
  float: none !important;
}
#lp_blocks {
  margin-bottom: 1em;
}
#lp_blocks .item {
  cursor: pointer;
  height: 96%;
}
#block_icon i {
  vertical-align: middle;
}
#info_center {
  margin-bottom: 5px;
}
#admin_form_wrapper p.errorbox {
  margin: 0;
}
.descbox details code {
  white-space: break-spaces !important;
}
.action_admin.sceditor-maximize #main_menu,
.action_admin.sceditor-maximize #genericmenu {
  display: none;
}
/* Tabs for settings */
.lp_tabs {
  padding: 0;
  margin: 0 auto;
}
.lp_tabs > input {
  display: none;
  position: absolute;
}
.lp_tabs > input:checked + label {
  color: #555;
  border-top: 1px solid #f49a3a;
  border-bottom: 1px solid #fff;
}
.lp_tabs input:invalid,
.lp_tabs textarea:invalid {
  border: 3px double red;
}
.lp_tabs > label {
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #aaa;
  border: 1px solid #ddd;
}
.lp_tabs > label:hover {
  cursor: pointer;
  color: #888;
}
.lp_tabs > label i,
.lp_tabs > label svg {
  font-size: 1.2em !important;
}
@media screen and (max-width: 680px) {
  .lp_tabs > label i,
  .lp_tabs > label svg {
    font-size: 1.6em !important;
  }
  .lp_tabs > label span {
    font-size: 0;
  }
}
@media screen and (max-width: 400px) {
  .lp_tabs > label {
    padding: 15px;
  }
}
.lp_tabs #tab1:checked ~ #content-tab1,
.lp_tabs #tab2:checked ~ #content-tab2,
.lp_tabs #tab3:checked ~ #content-tab3,
.lp_tabs #tab4:checked ~ #content-tab4 {
  display: block;
}
.lp_tabs section {
  display: none;
  padding: 15px;
  border: 1px solid #ddd;
  border-top-left-radius: 0;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
}
.lp_tabs section > div {
  margin-top: 1em;
}
.lp_tabs section #post_header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  line-height: 1.5;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
@media (max-width: 600px) {
  .lp_tabs section #post_header {
    flex-direction: row;
  }
}
.lp_tabs section #post_header dt {
  width: 50%;
}
.lp_tabs section #post_header dt label {
  font-weight: bold;
}
.lp_tabs section #post_header dt,
.lp_tabs section #post_header dd {
  margin-block-end: 5px;
  margin-inline-start: 0;
  padding-top: 5px;
  width: auto !important;
  float: none !important;
  flex: 2 50%;
}
.lp_tabs section #post_header dt:first-child,
.lp_tabs section #post_header dd:first-child {
  margin-block-start: 0;
}
.lp_tabs section #post_header dt:last-child,
.lp_tabs section #post_header dd:last-child {
  margin-block-end: 0;
}
.lp_tabs section #post_header dt > *:first-child,
.lp_tabs section #post_header dd > *:first-child {
  margin-block-start: 0;
}
.lp_tabs section #post_header dt > *:last-child,
.lp_tabs section #post_header dd > *:last-child {
  margin-block-end: 0;
}
@media (max-width: 600px) {
  .lp_tabs section #post_header dt,
  .lp_tabs section #post_header dd {
    flex: 1 100%;
    text-align: center;
  }
}
.lp_tabs section #post_header dt.pf_content,
.lp_tabs section #post_header dd.pf_content {
  width: 100%;
}
.lp_tabs section .choices__inner {
  border-radius: 6px;
}
.lp_tabs section .add_option {
  width: 100%;
}
.lp_tabs section .add_option select,
.lp_tabs section .add_option input {
  width: 100%;
}
@media screen and (max-width: 680px) {
  .lp_tabs section .add_option .plugin_options td:first-child {
    display: none;
  }
}
/* Checkbox toggler */
.checkbox {
  vertical-align: top;
  margin: 0 3px 0 0;
  width: 17px;
  height: 17px;
}
.checkbox + .label {
  cursor: pointer;
}
.checkbox:not(checked) {
  position: absolute;
  opacity: 0;
}
.checkbox:not(checked) + .label {
  position: relative;
  padding: 0 0 0 60px;
}
.checkbox:not(checked) + .label::before {
  content: '';
  position: absolute;
  top: -4px;
  left: 0;
  width: 50px;
  height: 26px;
  border-radius: 13px;
  background: #cdd1da;
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
}
.checkbox:not(checked) + .label::after {
  content: '';
  position: absolute;
  top: -2px;
  left: 2px;
  width: 22px;
  height: 22px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.2s;
}
.checkbox:checked + .label::before {
  background: #00cc33;
}
.checkbox:checked + .label::after {
  left: 26px;
}
.errorbox {
  color: initial !important;
}
#lp_layout h3:hover,
#lp_layout h4:hover {
  white-space: normal;
}
#lp_layout .file_content {
  white-space: break-spaces;
}
#lp_layout #post_confirm_buttons {
  padding: 12px 0 0 0 !important;
}
#lp_layout .row > aside {
  margin: 0 !important;
}
#lp_layout .between-xs + .row,
#lp_layout .row + .between-xs {
  margin-top: 5px;
}
#lp_layout .sticky_sidebar {
  position: sticky;
  position: -webkit-sticky;
  top: 5px;
}
#lp_layout aside {
  /* 		div + div {
			margin: 1px;
		} */
}
#lp_layout aside > div {
  margin: 0;
}
#lp_layout aside > div > h3,
#lp_layout aside > div > h4 {
  white-space: nowrap;
  text-overflow: ellipsis;
}
#lp_layout aside .progress_bar {
  max-width: initial;
}
#lp_layout aside[id^="block"]:not(:first-child) {
  clear: both;
  margin-top: 4px;
}
.related_pages {
  margin-top: 1em;
}
.related_pages .cat_bar {
  border-radius: 6px;
}
.related_pages .list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 0 10px;
}
.related_pages .list > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
.comments {
  margin-top: 1em;
}
.comments .avatar {
  border-radius: 100%;
  max-width: 45px !important;
  max-height: 45px !important;
  box-shadow: 0 0 4px #666;
}
.comments .cat_bar {
  border-radius: 6px;
}
.comments .comment_reply .toolbar.descbox {
  border-radius: 6px;
}
.comments .comment_reply .toolbar i {
  line-height: inherit;
}
.comments .comment_reply textarea {
  width: 100%;
}
.comments .comment_reply button {
  margin-top: 10px;
}
.comments .comment_reply button[name="comment"] {
  float: right;
}
.comments .comment_add .toolbar {
  display: none;
}
.comments .comment_add .toolbar.descbox {
  border-radius: 6px;
}
.comments .comment_add .toolbar i {
  line-height: inherit;
}
.comments .comment_add textarea {
  width: 100%;
  height: 30px;
}
.comments .comment_add button {
  margin-top: 10px;
}
.comments .comment_add button[name="comment"] {
  float: right;
  display: none;
}
section #display_head {
  margin-top: 0.1em;
  margin-bottom: 0;
}
section #display_head span {
  margin: 0;
}
/* The frontpage view style */
.lp_frontpage_articles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.article_view > div {
  margin-bottom: 10px;
}
.article_view article {
  border-radius: 12px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  position: relative;
  overflow: hidden;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 95%;
  min-height: 100%;
}
.article_view article a:hover {
  text-decoration: none;
  opacity: 0.7;
}
.article_view article:hover {
  box-shadow: 0 0 10px 5px #dddddd;
}
.article_view article:hover .new_posts {
  display: none;
}
.article_view article:hover .new_hover,
.article_view article:hover .info_hover {
  opacity: 1;
  z-index: 1;
}
.article_view article:hover .card_img_hover {
  opacity: 0.5;
}
.article_view article:hover .card_info {
  background-color: transparent;
  position: relative;
}
.article_view article .new_hover {
  position: absolute;
  padding: 16px;
  top: 0;
  left: 0;
}
.article_view article .new_hover .new_icon {
  position: relative;
  z-index: 2;
}
.article_view article .info_hover {
  position: absolute;
  padding: 16px;
  opacity: 0;
  top: 0;
  right: 0;
}
.article_view article .info_hover .edit_icon {
  position: relative;
  z-index: 2;
}
.article_view article .card_img {
  visibility: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 235px;
}
.article_view article .card_img_hover {
  transition: 0.2s all ease-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  position: absolute;
  height: 235px;
  top: 0;
}
.article_view article .card_info {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.2em;
}
.article_view article .card_info div {
  margin-top: 1em;
}
.article_view article .card_info .card_date {
  font-weight: 500;
  color: #868686;
}
.article_view article .card_info h3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 10px 0 10px 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 1.3em;
}
.article_view article .card_info h3 + div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
.article_view article .card_info p {
  margin-bottom: 5px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-height: 1.4em;
}
.article_view article .card_info .card_author {
  font-weight: 600;
  text-decoration: none;
  color: #ad7d52;
}
.article_alt_view article {
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  position: relative;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 99%;
}
.article_alt_view article header .title_bar {
  padding: 8px 12px;
}
.article_alt_view article header .title_bar h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.article_alt_view article header .title_bar + div {
  padding: 10px;
}
.article_alt_view article header img {
  max-height: 235px;
  width: 100%;
}
.article_alt_view article .article_body p {
  margin-bottom: 5px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-height: 1.4em;
}
.article_alt_view article .article_footer div {
  padding: 4px;
}
.article_alt2_view {
  display: flex;
  flex-wrap: wrap;
}
.article_alt2_view article {
  display: flex;
  flex: 1 1 300px;
  flex-direction: column;
  overflow: hidden;
  margin: 0 10px 10px;
  min-height: 300px;
  background-size: cover;
  border-radius: 6px;
  box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
}
.article_alt2_view article .article_image_link {
  display: block;
  position: relative;
  overflow: hidden;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.article_alt2_view article .article_image_link div {
  width: auto;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
}
.article_alt2_view article .article_body {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
}
.article_alt2_view article .article_body div {
  display: block;
  position: relative;
  padding: 25px 25px 0;
}
.article_alt2_view article .article_body div header time {
  display: block;
  margin-bottom: 4px;
  line-height: 1.15;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
.article_alt2_view article .article_body div header h3 {
  margin: 1em 0 0.5em;
  font-size: 1.2rem;
  line-height: 1.15;
}
.article_alt2_view article .article_body div section p {
  margin-bottom: 5px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-height: 1.4em;
}
.article_alt2_view article .article_body footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 25px 5px;
}
.article_alt2_view article .article_body footer img,
.article_alt2_view article .article_body footer svg {
  margin-right: 5px;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  object-fit: cover;
}
.article_alt2_view article .article_body footer > span {
  font-weight: 500;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
.article_alt3_view .card {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 6px;
  overflow: hidden;
  z-index: 0;
}
.article_alt3_view .card:hover .photo {
  transform: scale(1.3) rotate(3deg);
}
.article_alt3_view .card:hover .details {
  left: 0%;
}
.article_alt3_view .card a {
  color: inherit;
}
.article_alt3_view .card .meta {
  position: relative;
  z-index: 0;
  height: 200px;
}
.article_alt3_view .card .photo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  transition: transform 0.2s;
}
.article_alt3_view .card .details {
  padding: 0;
  list-style: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100%;
  margin: auto;
  transition: left 0.2s;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 10px;
  width: 100%;
  font-size: 0.9rem;
}
.article_alt3_view .card .details strong {
  color: inherit;
}
.article_alt3_view .card .details ul {
  margin: auto;
  padding: 0;
  list-style: none;
}
.article_alt3_view .card .details ul li {
  display: inline-block;
}
.article_alt3_view .card .details i {
  margin-right: 10px;
}
.article_alt3_view .card .details a {
  -webkit-text-decoration: dotted underline;
  text-decoration: dotted underline;
}
.article_alt3_view .card .details a:hover {
  color: #5ad67d;
}
.article_alt3_view .card .details .tags li {
  margin-right: 2px;
}
.article_alt3_view .card .details .tags li:first-child {
  margin-left: -4px;
}
.article_alt3_view .card .description {
  padding: 1rem;
  background: #fff;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.article_alt3_view .card .description a:hover {
  text-decoration: none;
}
.article_alt3_view .card .description h1,
.article_alt3_view .card .description h2 {
  font-family: Poppins, sans-serif;
}
.article_alt3_view .card .description h1 {
  line-height: 1;
  margin: 0;
  font-size: 1.4rem;
}
.article_alt3_view .card .description h2 {
  font-weight: 300;
  text-transform: uppercase;
  color: #a2a2a2;
  margin-top: 5px;
}
.article_alt3_view .card .description p {
  position: relative;
  margin: 1rem 0 0;
  margin-bottom: 5px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-height: 1.4em;
}
.article_alt3_view .card .description p:first-of-type {
  margin-top: 1.25rem;
}
.article_alt3_view .card .description p:first-of-type::before {
  content: "";
  position: absolute;
  height: 5px;
  background: #5ad67d;
  width: 35px;
  top: -0.75rem;
  border-radius: 3px;
}
.article_alt3_view .card .description .read_more {
  text-align: right;
}
.article_alt3_view .card .description .read_more a {
  display: inline-block;
  position: relative;
}
@media (min-width: 640px) {
  .article_alt3_view .card {
    flex-direction: row;
  }
  .article_alt3_view .card .meta {
    flex-basis: 40%;
    height: auto;
  }
  .article_alt3_view .card .description {
    flex-basis: 60%;
  }
  .article_alt3_view .card .description::before {
    transform: skewX(-3deg);
    content: "";
    background: #fff;
    width: 30px;
    position: absolute;
    left: -10px;
    top: 0;
    bottom: -1px;
    z-index: -1;
  }
}
.article_simple_view > div {
  padding: 0.75rem;
  border-radius: 0.25rem;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
}
.article_simple_view > div:hover {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
.article_simple_view > div .article_image {
  background-position: center;
  background-size: cover;
  background-color: #d1d5db;
  border-radius: 0.25rem;
  height: 8rem;
}
.article_simple_view > div .mt-6 {
  margin-top: 1.5rem;
}
.article_simple_view > div .body {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}
.article_simple_view > div .article_title {
  letter-spacing: 0.025em;
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin-bottom: 0.5rem;
}
.article_simple_view > div .article_teaser {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.article_simple2_view .card {
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  flex-direction: column;
  height: 18rem;
  border-radius: 0.5rem;
  align-items: center;
  display: flex;
  position: relative;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin: 0.4em;
}
@media (min-width: 768px) {
  .article_simple2_view .card {
    flex-direction: row;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    height: 18rem;
  }
}
.article_simple2_view .card .card-header {
  overflow: hidden;
  z-index: 0;
  position: relative;
  order: 1;
  height: 20rem;
  width: 100%;
  border-radius: 0.5rem;
}
@media (min-width: 768px) {
  .article_simple2_view .card .card-header {
    border-radius: 0;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    width: 40%;
    height: 100%;
    order: 2;
  }
}
.article_simple2_view .card .card-header .card-image {
  object-position: center;
  object-fit: fill;
  background-position: bottom;
  background-size: cover;
  background-blend-mode: multiply;
  background-color: rgba(96, 165, 250, 0.3);
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
}
.article_simple2_view .card .card-header .card-title {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  justify-content: flex-start;
  background-image: linear-gradient(to bottom, transparent, transparent, #111827);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  position: absolute;
  padding: 1.5rem;
  padding-bottom: 1.5rem;
}
@media (min-width: 768px) {
  .article_simple2_view .card .card-header .card-title {
    display: none;
  }
}
.article_simple2_view .card .card-header .card-title h3 {
  line-height: 1.25;
  width: 100%;
  color: #ffffff;
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
.article_simple2_view .card .card-header .card-title time {
  color: #f3f4f6;
}
.article_simple2_view .card .card-header svg {
  color: #ffffff;
  fill: currentColor;
  width: 6rem;
  height: 100%;
  display: none;
  margin-left: -3rem;
  top: 0;
  bottom: 0;
  position: absolute;
}
@media (min-width: 768px) {
  .article_simple2_view .card .card-header svg {
    display: block;
  }
}
.article_simple2_view .card .card-body {
  order: 2;
  width: 100%;
  align-items: center;
  height: 100%;
  display: flex;
  margin-top: -1.5rem;
}
@media (min-width: 768px) {
  .article_simple2_view .card .card-body {
    width: 60%;
    margin-top: 0;
    order: 1;
  }
}
.article_simple2_view .card .card-body .card-body-inner {
  width: 100%;
  box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
  height: 100%;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
@media (min-width: 768px) {
  .article_simple2_view .card .card-body .card-body-inner {
    box-shadow: none;
    padding-left: 3.5rem;
    padding-bottom: 3rem;
    border-radius: 0;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    margin-left: 0;
    margin-right: 0;
  }
}
.article_simple2_view .card .card-body .card-body-inner h3,
.article_simple2_view .card .card-body .card-body-inner time {
  display: none;
}
@media (min-width: 768px) {
  .article_simple2_view .card .card-body .card-body-inner h3,
  .article_simple2_view .card .card-body .card-body-inner time {
    display: block;
  }
}
.article_simple2_view .card .card-body .card-body-inner h3 {
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.2rem;
}
.article_simple2_view .card .card-body .card-body-inner time {
  line-height: 1.75rem;
  color: #9ca3af;
}
.article_simple2_view .card .card-body .card-body-inner .article_teaser {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-height: 1.4em;
  text-align: justify;
}
.article_simple2_view .card .card-body .card-body-inner .read_more {
  display: flex;
  margin-top: 0.75rem;
  text-decoration: none;
}
.article_simple2_view .card .card-body .card-body-inner .read_more span:first-child:hover {
  text-decoration: underline;
}
.article_simple2_view .card .card-body .card-body-inner .read_more .arrow {
  font-size: 0.75rem;
  margin-left: 0.25rem;
}
.article_simple3_view {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1.25rem;
}
@media (min-width: 768px) {
  .article_simple3_view {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
@media (min-width: 1024px) {
  .article_simple3_view {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (min-width: 1280px) {
  .article_simple3_view {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
.article_simple3_view > div {
  border-radius: 0.25rem;
  overflow: hidden;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.article_simple3_view > div img {
  width: 100%;
}
.article_simple3_view > div .title {
  padding: 1rem 1.5rem;
}
.article_simple3_view > div .title div {
  font-weight: 700;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}
.article_simple3_view > div .tags {
  padding: 1rem 1.5rem 0.5rem;
}
.article_simple3_view > div .tags a {
  display: inline-block;
  border-radius: 9999px;
  padding: 0.25rem 0.75rem;
  font-size: 0.875rem;
  font-weight: 600;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}
.comment_list {
  list-style: none;
}
.comment_list li {
  clear: both;
  width: 100%;
  opacity: 1;
  transition: opacity 1s;
}
.comment_list li .comment_avatar {
  position: absolute;
  width: 74px;
  vertical-align: top;
  padding-right: 10px;
}
.comment_list li .comment_wrapper {
  width: 100%;
  padding-left: 55px;
}
.comment_list li .comment_wrapper .entry {
  display: block;
  position: relative;
  padding: 0 12px 8px;
  border: 1px solid #ddd;
  border-radius: 7px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.comment_list li .comment_wrapper .entry .title {
  display: block;
  font-size: 0.7rem;
  margin: -1px -13px -11px;
  line-height: 20px;
  text-align: justify;
}
.comment_list li .comment_wrapper .entry .title::after {
  display: inline-block;
  content: '';
  width: 100%;
  height: 0;
  visibility: hidden;
  overflow: hidden;
}
.comment_list li .comment_wrapper .entry .title > span {
  font-weight: bold;
  border: 1px solid #ddd;
  border-top-left-radius: 7px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 0;
  display: inline-block;
  vertical-align: top;
  padding: 6px 11px;
}
.comment_list li .comment_wrapper .entry .title .comment_date {
  border: 1px solid #ddd;
  border-top-left-radius: 0;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 7px;
  display: inline-block;
  vertical-align: top;
  padding: 6px 11px;
  opacity: 0.8;
}
.comment_list li .comment_wrapper .entry .content {
  padding: 0 14px;
}
.comment_list li .comment_wrapper .entry .content .bbc_list {
  list-style-type: initial;
}
.comment_list li .comment_wrapper .entry .content .bbc_code {
  overflow: hidden !important;
}
.comment_list li .comment_wrapper .entry .reply_button,
.comment_list li .comment_wrapper .entry .modify_button,
.comment_list li .comment_wrapper .entry .update_button,
.comment_list li .comment_wrapper .entry .cancel_button,
.comment_list li .comment_wrapper .entry .remove_button {
  opacity: 0.6;
  margin-right: 5px;
}
.comment_list li .comment_wrapper .entry .reply_button:hover,
.comment_list li .comment_wrapper .entry .modify_button:hover,
.comment_list li .comment_wrapper .entry .update_button:hover,
.comment_list li .comment_wrapper .entry .cancel_button:hover,
.comment_list li .comment_wrapper .entry .remove_button:hover {
  cursor: pointer;
  opacity: 1;
}
.comment_list li .comment_wrapper .entry .update_button,
.comment_list li .comment_wrapper .entry .cancel_button {
  display: none;
}
.comment_list li .comment_wrapper .entry .smalltext {
  margin-top: 6px;
  padding-top: 6px;
  border-top: 1px dashed #bfbfbf;
}
.sceditor-container {
  position: relative;
  min-height: 300px !important;
}
.priority span,
.status span,
.actions span {
  cursor: pointer;
}
#page_comments .row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}
#page_comments_toggle {
  cursor: pointer;
}
.lp_default_blocks th.icon,
.lp_additional_blocks th.icon,
.lp_default_blocks th.actions,
.lp_additional_blocks th.actions {
  width: 8%;
}
.addon_list {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 10px;
}
@media screen and (max-width: 468px) {
  .addon_list {
    grid-template-columns: auto;
  }
}
.features .floatleft {
  width: 80%;
}
.features .floatright {
  cursor: pointer;
}
.features .floatright .gear {
  position: relative;
  top: -5px;
  right: 5px;
}
.features .floatright i[data-toggle="on"] {
  color: #00cc33;
}
.features form textarea {
  width: 100%;
}
.form_settings > div {
  margin: 1.2em;
}
.form_settings label {
  font-weight: bold;
}
.form_settings input[type="text"],
.form_settings input[type="url"] {
  width: 100%;
}
.form_settings input[type="number"] {
  width: auto;
}
.new_posts.lp_type_block {
  background: #667d99;
}
.new_posts.lp_type_editor {
  background: #48bf83;
}
.new_posts.lp_type_comment {
  background: #9354ca;
}
.new_posts.lp_type_parser {
  background: #91ae26;
}
.new_posts.lp_type_article {
  background: #ef564f;
}
.new_posts.lp_type_frontpage {
  background: #d68b4f;
}
.new_posts.lp_type_impex {
  background: #2361ad;
}
.new_posts.lp_type_block_options {
  background: #ac7bd6;
}
.new_posts.lp_type_page_options {
  background: #a39d47;
}
.new_posts.lp_type_icons {
  background: #2a7750;
}
.new_posts.lp_type_seo {
  background: #c61a12;
}
.new_posts.lp_type_other {
  background: #414141;
}
.handle {
  cursor: grab;
}
.lp_categories input {
  width: 100%;
}
.lp_categories textarea {
  width: 100%;
  resize: none;
  margin-top: 1px;
}
.lp_categories dt td.handle {
  font-size: 1.2rem;
}
.lp_categories dt span.floatright {
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: bold;
}
.lp_categories dd .roundframe {
  margin-top: 0;
}
/* Common media queriers */
@media (max-width: 480px) {
  .lp_default_blocks th.icon,
  .lp_additional_blocks th.icon,
  .lp_default_blocks td.icon,
  .lp_additional_blocks td.icon,
  .lp_default_blocks th.type,
  .lp_additional_blocks th.type,
  .lp_default_blocks td.type,
  .lp_additional_blocks td.type,
  .lp_default_blocks th.areas,
  .lp_additional_blocks th.areas,
  .lp_default_blocks td.areas,
  .lp_additional_blocks td.areas {
    display: none;
  }
  #lp_pages th.date,
  #lp_pages td.date {
    display: none;
  }
  .related_pages .article_list {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 481px) and (max-width: 600px) {
  .lp_default_blocks th.title,
  .lp_additional_blocks th.title,
  .lp_default_blocks td.title,
  .lp_additional_blocks td.title,
  .lp_default_blocks th.areas,
  .lp_additional_blocks th.areas,
  .lp_default_blocks td.areas,
  .lp_additional_blocks td.areas {
    display: none;
  }
  .related_pages .article_list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .comment_avatar {
    display: none;
  }
  .comment_wrapper {
    padding: 0 !important;
  }
  .comment_wrapper .entry .smalltext i {
    display: none;
  }
  .comment_list .col-xs-12 {
    flex-basis: 95%;
    margin-left: 10px;
  }
  #lp_post .button {
    float: none !important;
    width: 100%;
    margin-left: 0 !important;
  }
}
@media (max-width: 720px) {
  #lp_layout input[type="radio"] {
    width: auto;
  }
}
@media (max-width: 800px) {
  #lp_pages th.num_views,
  #lp_pages td.num_views {
    display: none;
  }
}
@media (max-width: 887px) {
  .information .righttext {
    text-align: center;
  }
  #lp_pages th.alias,
  #lp_pages td.alias {
    display: none;
  }
  .descbox.alternative2 {
    display: block;
  }
}
@media (min-width: 1022px) and (max-width: 1200px) {
  .article_info div {
    text-align: center;
    display: block;
  }
  .article_info .floatleft,
  .article_info .floatright {
    float: none;
  }
}
/* Animations */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* SlimSelect */
.ss-main {
  overflow: hidden !important;
}
.ss-main .ss-single-selected {
  height: auto !important;
}
.ss-main .ss-single-selected .placeholder > div {
  margin: 0 !important;
}
.ss-main .ss-single-selected .placeholder i,
.ss-main .ss-single-selected .placeholder span {
  margin-right: 0.4em;
}
.ss-main .ss-open {
  position: initial !important;
}
.ss-main .ss-disabled {
  color: inherit !important;
}
