.trending_topics {
	list-style: none;
	padding-left: 0;

	li {
		margin: 4px 0 0 0;
		padding: 6px 12px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 10px;

		.poster_avatar img {
			width: 32px;
			height: 32px;
		}
	}
}