.recent_posts {
	list-style: none;
	padding-left: 0;

	div {
		margin: 4px 0 0 0;
	}

	.poster_avatar {
		float: left;
		padding: 3px 11px 0 0;
	}

	.avatar {
		width: 40px;
		height: 40px;
	}
}

.recent_posts_list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	grid-gap: 4px;

	> div {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		text-align: center;
		margin: 0 !important;
	}
}
