.block_board_stats .board_stats_areas {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	grid-gap: 0 10px;
}

.block_board_stats .board_stats_areas div {
	display: flex;
	flex-direction: column;
	margin-top: 2px;
}

.block_board_stats .board_stats_areas div h4 {
	margin-top: 4px;
	margin-bottom: 4px;
}

.block_board_stats .board_stats_areas div ul {
	margin-left: -1em;
}
