.page_markdown .bbc_code,
.block_markdown .bbc_code {
	overflow: auto !important;
	white-space: pre;
}
.page_markdown .task-list-item,
.block_markdown .task-list-item {
	list-style: none;
	margin-left: -20px;
}
.page_markdown blockquote {
	width: 100% !important;
}
