.recent_posts {
	list-style: none;
	padding-left: 0;
}

.recent_posts li {
	margin: 4px 0 0 0;
	padding: 6px 12px;
}

.recent_posts .poster_avatar {
	float: left;
	padding: 3px 11px 0 0;
}

.recent_posts .avatar {
	width: 40px;
	height: 40px;
}
