.block_todays {
	details {
		display: contents;
		position: relative;
		margin-bottom: 0.5rem;
		min-height: 1rem;
		max-height: 3rem;
		transition: min-height 0.15s linear, max-height 0.5s linear;
		will-change: max-height;
		overflow: hidden;

		summary {
			display: inline-block;
			cursor: pointer;
			outline: 0;
			transition: color 0.12s;

			&::-webkit-details-marker {
				display: none;
			}

			&::-moz-list-bullet {
				list-style-type: none;
			}

			span {
				border-bottom: 1px currentColor dotted;
			}

			&:hover {
				color: #d06c6c;
			}
		}
	}
}

.block_todays details summary ~ * {
	display: none;
	transition: opacity 0.15s linear;
}

.block_todays details[open] {
	min-height: 2em;
	max-height: 20em;

	summary {
		color: #d06c6c;
	}
}

.block_todays details[open] summary ~ * {
	display: block;
}
