.article_flarum_view {
	.title_bar {
		margin-bottom: 1em;
	}

	.header_img {
		display: grid;
		place-content: center;
	}

	.header_area {
		display: block;
		margin-left: 20px;
		width: 70%;
		text-decoration: none;

		h3 {
			margin: 0 0 3px;
			line-height: 1.3;
			font-weight: 400;
			font-size: 16px;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		.smalltext {
			opacity: .5;
		}
	}
}