.block_simple_chat .moderation_notes {
	height: 100%;
	max-height: 100px;
	margin-bottom: 10px;
	padding-right: 1em;
}

.block_simple_chat .avatar {
	width: 20px;
	vertical-align: bottom;
}

.block_simple_chat .main_icons.delete {
	cursor: pointer;
	margin-top: -1px;
	margin-left: 10px;
}

.block_simple_chat .full_width {
	float: none;
	width: 100%;
}
