services:
  php:
    build:
      context: .
      dockerfile: dockerfiles/php/Dockerfile
      args:
        PHP_VERSION: ${PHP_VERSION}
        SMF_VERSION: ${SMF_VERSION}
    volumes:
      - web:/var/www/html
    depends_on:
      - db
    environment:
      - DB_HOST=${DB_HOST}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_NAME=${DB_NAME}
      - DB_PREFIX=${DB_PREFIX}
      - FORUM_URL=${FORUM_URL}
      - FORUM_NAME=${FORUM_NAME}
      - FORUM_LANG=${FORUM_LANG}
      - FORUM_LOGIN=${FORUM_LOGIN}
      - FORUM_PASS=${FORUM_PASS}
      - FORUM_EMAIL=${FORUM_EMAIL}

  nginx:
    build:
      context: .
      dockerfile: dockerfiles/nginx/Dockerfile
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - web:/var/www/html
      - ./dockerfiles/nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php

  adminer:
    image: adminer
    restart: always
    environment:
      ADMINER_DEFAULT_SERVER: db
      ADMINER_DESIGN: lucas-sandery
    ports:
      - 8080:8080
    depends_on:
      - db

  db:
    image: mariadb:12
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    volumes:
      - data:/var/lib/mysql
      - ./dockerfiles/dump.sql:/docker-entrypoint-initdb.d/dump.sql

volumes:
  data:
  web:
