@mixin pointer() {
	cursor: pointer;
}

@mixin valign($align: middle) {
	vertical-align: $align;
}

@mixin bradius($topleft: 6px, $topright: null, $bottomright: null, $bottomleft: null) {
	@if $topright == null and $bottomright == null and $bottomleft == null {
		border-radius: $topleft;
		$topleft: null;
	}
	@if $topleft != null and $topleft >= 0 {
		border-top-left-radius: $topleft;
	}
	@if $topright != null and $topright >= 0 {
		border-top-right-radius: $topright;
	}
	@if $bottomleft != null and $bottomleft >= 0 {
		border-bottom-left-radius: $bottomleft;
	}
	@if $bottomright != null and $bottomright >= 0 {
		border-bottom-right-radius: $bottomright;
	}
}
