.related_pages {
	margin-top: 1em;

	.cat_bar {
		@include bradius;
	}

	.list {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
		grid-gap: 0 10px;

		& > div {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			text-align: center;
		}

		@media (max-width: 480px) {
			grid-template-columns: 1fr;
		}

		@media (min-width: 481px) and (max-width: 600px) {
			grid-template-columns: repeat(2, 1fr);
		}
	}
}