@import "_variables";
@import "_functions";

/* Layouts */
@import "layout_switcher";
@import "frontpage_default";
@import "frontpage_alt";
@import "frontpage_alt2";
@import "frontpage_alt3";
@import "frontpage_simple";
@import "frontpage_simple2";
@import "frontpage_simple3";
@import "frontpage_flarum";
@import "frontpage_spectre";

/* Menu, main layout */
@import "menu";
@import "layout";

/* Page template */
@import "page";
@import "page_related";
@import "page_comments";

/* Portal admin area */
@import "admin_settings";
@import "admin_context";
@import "admin_tabs";
@import "admin_categories";
@import "admin_tags";
@import "admin_checkbox";
@import "admin_blocks";
@import "admin_pages";
@import "admin_plugins";

@import "badges";

/* Custom fixes */
@import "hacks";
